/*----------------------
Product Card Styles
----------------------*/
.card.panel--styled {
    background: #F4F2F3;
}
.panelTop {
    padding: 5px;
}

.panelBottom {
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
}
.btn-add-to-cart {
    background: #FD5A5B;
    color: #fff;
}
.btn.btn-add-to-cart.focus, .btn.btn-add-to-cart:focus, .btn.btn-add-to-cart:hover  {
    color: #fff;
    background: #FD7172;
    outline: none;
}
.btn-add-to-cart:active {
    background: #F9494B;
    outline: none;
}


span.itemPrice {
    font-size: 24px;
    color: #FA5B58;
}


